@import '../core/variables.scss';


.header {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
       font-size: 5rem; 
       font-family: #{$header-font};
       
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    font-family: #{$header-font};
    
    &__box {
        border: 2px solid rgb(255, 255, 255);
        color: white;
        box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.5);
        background-color: rgba(128, 0, 128, 0.5);
        width: 600px;
        height: 250px;
        margin-top: 20px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--text {
            margin-top: 20px;
        }
    }
    &__button {
        margin: 20px;
        border-radius: 50px;
        width: 250px;
        font-family: #{$header-font};
    }
}

.link {
    font-size: 5rem;
    text-decoration: none;
    color: inherit; 
    
}