.header {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title {
       font-size: 10rem; 
    }
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    &__box {
        border: 2px solid black;
        width: 600px;
        height: 300px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        &--text {
            margin-top: 20px;
        }
    }
}

.link {
    font-size: 5rem;
}