@font-face {
    font-family: "text-pixel";
    src: url("../../fonts/text-pixel.ttf") format("truetype");
         
    /* Agrega más formatos y rutas de archivo si es necesario */
    font-weight: normal;
    font-style: normal;
  }
  $header-font: "text-pixel";

  $purple: #6950d0;
$red: #be3d45;
$orange: #d29947;
$green: #487d0e;
$light-yellow: #f7f07a;
$light-blue: #2e65a5;
$blue: #1f4470;
$white-blue: #a4c9e8;
$fluor-green: #c8ffbb;
$black: #242424;
$grey:rgb(202, 202, 202);