.drop-board {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    height: 100px;
    width: 500px;
    background-color: bisque;
}