@import '../core/variables.scss';
.title {
    text-align: center;
    margin: 20px;
    font-family: #{$header-font};
    font-size: 3rem;
}

.mine {
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    font-family: #{$header-font};
   
    &__info {
        display: flex;
        width: 20vw;
        
       
        &--title {
            text-align: center;
            font-size: 3rem;
            background-color: black;
            color: #ffffff;
            border-radius: 25px 25px 0 0;
        }
        &--list {
            list-style: none;
            
            border: 30px groove rgb(90, 57, 14) ;
            width: 150%;
            & li{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
            }
            & p{
                margin: 10px;
                font-size: 2rem;
            }                       
        }
        &--button {
            background-color: black;
            color: white;
            font-size: 3rem;
            font-family: #{$header-font};
            margin-top: 20px;
            border-radius: 0px 20px;
            
        }
       
    }
    &__textReturnStart {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        &--button {
            background-color: black;
            color: white;
            font-size: 3rem;
            font-family: #{$header-font};
            margin-top: 20px;
            border-radius: 0px 20px;
        }
    }
}
h4 {
    margin: 1px 20px;
}
.iconsScore {
    width: 60%;
}

.footermine {
   
    height: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    &__buttonReturn {
        width: 40%;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
        &--button {
            height: 50px;
            width: 300px;
            font-family: #{$header-font};
            background-color: black;
            color: #ffffff;
            font-size: 2rem;
            
        }
    }
}

a {
    
    text-decoration: none;
    color: inherit; 
    
}

  
.bagMine__bag {
    position: absolute;
        top: 55%;
        left: 105%;
        transform: translate(-50%, -50%);
        //background-color: antiquewhite;
        z-index: 7; 
}