@import '../core/variables.scss';

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Agregamos un índice z alto para que el modal esté por encima de otros elementos */
    font-family: #{$header-font};
    font-size: 2rem;
  }
  
  .modal {
    position: relative; /* Ajustamos la posición a relativa para que el modal respete el flujo normal */
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  
    /* Resto de estilos del modal */
  
  
  
    h2 {
      margin-bottom: 10px;
    }
  
    p {
      margin-bottom: 20px;
    }
  
    button {
      padding: 10px 20px;
      border: none;
      background-color: $red;
      color: white;
      border-radius: 4px;
      cursor: pointer;
      font-family: #{$header-font};
      border-radius: 50px;
      width: 200px;
      font-size: 2rem;
      &:hover {
        border: 4px solid $fluor-green;
      }
    }
  }
  